<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="title"><h1>Iniciar sesión</h1></div>
<div class="form-container">
        <div class="form-row form-title">
            <h1>Bienvenido</h1>
        </div>
        <p><span th:text="${persona.nombre}"></span> <span th:text="${persona.primerApellido}"></span> <span th:text="${persona.segundoApellido}"></span></p>
</div>
</body>
</html>